@charset "UTF-8";
body{
    background-image: url("company.jpg");
    background-size: cover;
    color: white;
    font-size: 20px;
}

#navbar{
	height: 40px;
	width: 100vw;
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	background-color: rgba(0,0,0,0.6);
}

a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding: 2px;
}

#a1{
	margin-left: 20px;
}

#a2,#a3,#a4{
	margin-left: 50px;
}

#container{
    height: 122vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

form{
    width: 550px;
    height: 930px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.6);
}

input{
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 16px;
    margin-left: 120px;
}

label{
    margin-left: 140px;
}

h2{
    margin-left: 175px;
}

#submit{
	padding-left: 45px;
    padding-right: 45px;
    margin-left: 15px;
}

input:hover{
	background-color: white;
	color: black;
}

a:hover{
	background-color: white;
	color: black;
	border-radius: 4px;
}

